<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <div>
    	<form action="/form" method="GET">
    		<input type="text" placeholder="enter text" name="inputText"/> 
    	</form>
    </div>
    <p>
    	<b th:if="${inputText != null}" th:text="${inputText}"></b>
    </p>
</body>
</html>
